* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body {
  width: 100vw;

  font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;

  overflow-x: hidden;
}

img {
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

p {
  line-height: 1.5;
}
